@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800;
}

.partner-carousel .swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}