@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800;
}

.partner-carousel .swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 4D Customizations */
@font-face {
  font-family: "gruppo4dregular";
  src: url("../webfonts/gruppo4d-webfont.woff2") format("woff2"),
    url("../webfonts/gruppo4d-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.brand {
  font-family: "gruppo4dregular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
